<!-- <h1 class="text-center" style="Margin:0;Margin-bottom:10px;color:#4d4d4d;font-family:Chivo,sans-serif;font-size:21px;font-weight:700;line-height:1.3;margin:0;margin-bottom:10px;padding:0;text-align:center;text-transform:uppercase;word-wrap:normal">Bienvenido !</h1>
<h2 style="Margin:0;Margin-bottom:10px;color:inherit;font-family:Helvetica,Arial,sans-serif;font-size:17px;font-weight:700;line-height:1.3;margin:0;margin-bottom:10px;padding:0;text-align:left;word-wrap:normal">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi impedit sapiente delectus molestias quia.</h2>
<h3 style="Margin:0;Margin-bottom:10px;color:inherit;font-family:Helvetica,Arial,sans-serif;font-size:15px;font-weight:700;line-height:1.3;margin:0;margin-bottom:10px;padding:0;text-align:left;word-wrap:normal">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi impedit sapiente delectus molestias quia.</h3>
<h4 style="Margin:0;Margin-bottom:10px;color:inherit;font-family:Helvetica,Arial,sans-serif;font-size:17px;font-weight:400;line-height:1.3;margin:0;margin-bottom:10px;padding:0;text-align:left;word-wrap:normal">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi impedit sapiente delectus molestias quia.</h4>
<h5 style="Margin:0;Margin-bottom:10px;color:inherit;font-family:Helvetica,Arial,sans-serif;font-size:15px;font-weight:400;line-height:1.3;margin:0;margin-bottom:10px;padding:0;text-align:left;word-wrap:normal">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi impedit sapiente delectus molestias quia.</h5>
<h6 style="Margin:0;Margin-bottom:10px;color:inherit;font-family:Helvetica,Arial,sans-serif;font-size:13px;font-weight:700;line-height:1.3;margin:0;margin-bottom:10px;padding:0;text-align:left;word-wrap:normal">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi impedit sapiente delectus molestias quia.</h6>
<p style="Margin:0;Margin-bottom:10px;color:grey;font-family:Helvetica,Arial,sans-serif;font-size:15px;font-weight:300;line-height:1.3;margin:0;margin-bottom:10px;padding:0;text-align:left">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi impedit sapiente delectus molestias quia.</p>
<a style="Margin:0;color:#5B46CD;font-family:Helvetica,Arial,sans-serif;font-weight:400;line-height:1.3;margin:0;padding:0;text-align:left;text-decoration:none">link</a>
<center data-parsed="" style="min-width:532px;width:100%">
	<table class="button radius float-center" style="Margin:0 0 16px 0;border-collapse:collapse;border-spacing:0;float:none;margin:0 0 16px 0;padding:0;text-align:center;vertical-align:top;width:auto">
		<tbody>
			<tr style="padding:0;text-align:left;vertical-align:top">
				<td style="-moz-hyphens:auto;-webkit-hyphens:auto;Margin:0;border-collapse:collapse!important;color:grey;font-family:Helvetica,Arial,sans-serif;font-size:15px;font-weight:300;hyphens:auto;line-height:1.3;margin:0;padding:0;text-align:left;vertical-align:top;word-wrap:break-word">
					<table style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">
						<tbody>
							<tr style="padding:0;text-align:left;vertical-align:top">
								<td style="-moz-box-shadow:inset 0 0 10px #fefefe;-moz-hyphens:auto;-webkit-box-shadow:inset 0 0 10px #fefefe;-webkit-hyphens:auto;Margin:0;background:#5B46CD;border:none;border-collapse:collapse!important;border-radius:12px;box-shadow:inset 0 0 10px #fefefe;color:#fefefe;font-family:Helvetica,Arial,sans-serif;font-size:15px;font-weight:300;hyphens:auto;line-height:1.3;margin:0;padding:0;text-align:left;vertical-align:top;word-wrap:break-word">
									<a href="#" style="Margin:0;border:0 solid #5B46CD;border-radius:3px;color:#fefefe;display:inline-block;font-family:Helvetica,Arial,sans-serif;font-size:16px;font-weight:700;line-height:1.3;margin:0;padding:10px 16px;text-align:left;text-decoration:none;text-transform:uppercase">Get smarter now</a>
								</td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>
		</tbody>
	</table>
</center>
<center data-parsed="" style="min-width:532px;width:100%">
	<table class="button radius large float-center" style="Margin:0 0 16px 0;border-collapse:collapse;border-spacing:0;float:none;margin:0 0 16px 0;padding:0;text-align:center;vertical-align:top;width:auto">
		<tbody>
			<tr style="padding:0;text-align:left;vertical-align:top">
				<td style="-moz-hyphens:auto;-webkit-hyphens:auto;Margin:0;border-collapse:collapse!important;color:grey;font-family:Helvetica,Arial,sans-serif;font-size:15px;font-weight:300;hyphens:auto;line-height:1.3;margin:0;padding:0;text-align:left;vertical-align:top;word-wrap:break-word">
					<table style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">
						<tbody>
							<tr style="padding:0;text-align:left;vertical-align:top">
								<td style="-moz-box-shadow:inset 0 0 10px #fefefe;-moz-hyphens:auto;-webkit-box-shadow:inset 0 0 10px #fefefe;-webkit-hyphens:auto;Margin:0;background:#5B46CD;border:none;border-collapse:collapse!important;border-radius:30px;box-shadow:inset 0 0 10px #fefefe;color:#fefefe;font-family:Helvetica,Arial,sans-serif;font-size:15px;font-weight:300;hyphens:auto;line-height:1.3;margin:0;padding:0;text-align:left;vertical-align:top;word-wrap:break-word">
									<a href="#" style="Margin:0;border:0 solid #5B46CD;border-radius:3px;color:#fefefe;display:inline-block;font-family:Helvetica,Arial,sans-serif;font-size:17px;font-weight:700;line-height:1.3;margin:0;padding:15px 20px;text-align:left;text-decoration:none;text-transform:uppercase">Get smarter now</a>
								</td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>
		</tbody>
	</table>
</center> -->

<h1>Tu reserva fue aceptada</h1>

<p>Hola <%=@user.first_name%></p>
<p>Muchas gracias por confiar en AtLocs.com para conseguir la mejor locación para tu proyecto. Te informamos que tu reserva nº: <b><%=@booking.code.upcase%></b> ha sido confirmada por el dueño. </p>

<h2>Datos de reserva</h2>

<table cellspacing="0" cellpadding="10" border="0" width="90%">
	<tr>
		<td width="30%">Cod. reserva</td>
		<td width="70%"><%=@booking.code%></td>
	</tr>
	<tr>
		<td width="30%">Locación</td>
		<td width="70%"><%=link_to @location.title, "http://www.atlocs.com/locations/#{@location.id}"%></td>
	</tr>
	<tr>
		<td width="30%">Fecha de inicio</td>
		<td width="70%"><%=@booking.start_time.strftime("%d/%m/%Y")%></td>
	</tr>
	<tr>
		<td width="30%">Fecha de termino</td>
		<td width="70%"><%=@booking.end_time.strftime("%d/%m/%Y")%></td>
	</tr>
	<tr>
		<td width="30%">Precio acordado</td>
		<td width="70%"><b><%=number_to_currency(@booking.price, :unit => "$", :precision => 0)%></b> x <%=@booking.totaldays%> día(s)</td>
	</tr>
</table>

<p>Para hacer valida esta reserva debes hacer una transferencia por un monto de <b><%=number_to_currency((@location.fee*@booking.totaldays), :unit => "$", :precision => 0)%></b> (<%=number_to_currency(@location.fee, :unit => "$", :precision => 0)%> x día) a AtLocs. A continuación te damos los datos para hacer la transferencia.</p>

<h2>Datos de transferencia</h2>

<table cellspacing="0" cellpadding="10" border="0" width="90%">
	<tr>
		<td width="30%">Banco</td>
		<td width="70%">Banco Santander</td>
	</tr>
	<tr>
		<td width="30%">Numero de cuenta</td>
		<td width="70%">04321898</td>
	</tr>
	<tr>
		<td width="30%">Tipo de cuenta</td>
		<td width="70%">Cuenta Corriente</td>
	</tr>
	<tr>
		<td width="30%">Nombre del titular</td>
		<td width="70%">Cristian Díaz Reyes</td>
	</tr>
	<tr>
		<td width="30%">RUT titular</td>
		<td width="70%">12722861-2</td>
	</tr>
	<tr>
		<td width="30%">Email</td>
		<td width="70%">cdiazreyes@gmail.com</td>
	</tr>
	<tr>
		<td width="30%">Monto</td>
		<td width="70%"><%=number_to_currency((@location.fee*@booking.totaldays), :unit => "$", :precision => 0)%></td>
	</tr>
	<tr>
		<td width="30%">Motivo</td>
		<td width="70%">Pago reserva AtLocs <%=@booking.code.upcase%></td>
	</tr>
</table>

<p>Saludos y nos comunicaremos contigo en cuanto se reciba el pago para hacer valida tu reserva.</p>
