<p> El usuario <%= @user.full_name %> quiere borrar su cuenta </p>
<p> ID: <%= @user.id %> </p>
<p> Email: <%= @user.email %> </p>
<% if @user.phone %>
  <p> Teléfono: <%= @user.phone %></p>
<% end %>
<% if @user.locations %>
  <% @user.locations.each do |location| %>
    <h3><%= location.title %>:</h3>
    <ul>
      <li> ID Locación: <%= location.id %> </li>
      <li> Dirección: <%= "#{location.address}, #{location.city}" %> </li>
    </ul>
  <% end %>
<% end %>
