%tr
	-if current_user && current_user.status=="admin"
		/ User name
		%td
			= link_to booking.location.user.full_name, '/users/'+booking.location.user.id.to_s
	/ Location code
	%td
		= booking.code
		%small.help-block
	/ Location dates
	%td
		.start-date
		= l(booking.start_time, format: '%d /%m /%Y')
		.start-date
		= l(booking.end_time, format: '%d /%m /%Y')

	/ Location Title
	%td
		= booking.code
		%small.help-block
	/ Location dates
	%td
		.start-date
		= l(booking.start_time, format: '%d /%m /%Y')
		.start-date
		= l(booking.end_time, format: '%d /%m /%Y')

	/ Location Title
	%td
		= link_to booking.location.title, location_path(booking.location)
		%small.help-block
	/ Actions
	%td
		.btn-group
			= link_to "/bookings/"+(booking.code||=booking.generatecode), :class=> "btn btn-primary" do
				Ver Detalle

	%td.text-right{:style=>"width:15%"}
		- if current_user.status=="admin" && booking.status=="accepted"
			= link_to "/bookings/#{booking.code}/payment/confirm" do
				Confirmar Pago
		- elsif booking.status=="waiting" && (can? :accept, booking)
			= link_to "/bookings/#{booking.code}/accept" do
				Aceptar Reserva
		- else
			= link_to edit_booking_path(booking) do
				Editar Reserva
			= link_to "/bookings/#{booking.code}/cancel" do
				Cancelar Reserva
