%tr
	-if current_user && current_user.status=="admin"
		/ User name
		%td
			= link_to booking.user.full_name, '/users/'+booking.user.id.to_s
	/ Location Title
	%td
		= link_to booking.location.title, location_path(booking.location)
		%small.help-block
			Desde el
			%b=booking.start_time.strftime("%d/%m/%Y")
			hasta el
			%b=booking.end_time.strftime("%d/%m/%Y")
	/ Location Owner
	%td
		%b= number_to_currency(booking.price, :unit => "$", :precision => 0)
		%small.help-block
			= number_to_currency(booking.location.price, :unit => "$", :precision => 0)
			x
			= booking.totaldays
			día(s)
	%td
		= booking.code
		%small.help-block
	/ Location dates
	%td
		.start-date
		= l(booking.start_time, format: '%d /%m /%Y')
		.start-date
		= l(booking.end_time, format: '%d /%m /%Y')

	/ Location Title
	%td
		= link_to booking.location.title, location_path(booking.location)
		%small.help-block
	/ Actions
	%td
		.btn-group
			= link_to "/bookings/"+(booking.code||=booking.generatecode), :class=> "btn btn-primary" do
				Ver Detalle
		- else
			.btn-group
				= link_to "/bookings/"+(booking.code||=booking.generatecode), :class=> "btn btn-primary" do
					Ver Detalle
				%button.btn.btn-primary.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
					%span.caret
					%span.sr-only Toggle Dropdown
				%ul.dropdown-menu

					- if current_user.status=="admin" && booking.status=="accepted"
						%li
							= link_to "/bookings/#{booking.code}/payment/confirm" do
								%i.mdi.mdi-lg.mdi-cash
								Confirmar Pago
					- if booking.status=="waiting" && (can? :accept, booking)
						%li
							= link_to "/bookings/#{booking.code}/accept" do
								%i.mdi.mdi-lg.mdi-calendar-check
								Aceptar Reserva
					%li
						= link_to booking.location do
							%i.mdi.mdi-lg.mdi-calendar-remove
							=booking.location.title
					%li
						= link_to edit_booking_path(booking) do
							%i.mdi.mdi-lg.mdi-calendar-remove
							Editar Reserva
					%li
						= link_to "/bookings/#{booking.code}/cancel" do
							%i.mdi.mdi-lg.mdi-calendar-remove
							Cancelar Reserva
					- if can? :destroy, booking.location
						%li
							= link_to location_path(booking.location), method: :delete do
								%i.mdi.mdi-lg.mdi-delete
								Eliminar propiedad
