%tr
	-if current_user && current_user.status=="admin"
		/ User name
		%td
			= link_to booking.user.full_name, '/users/'+booking.user.id.to_s
	/ Location Title
	%td
		= link_to booking.location.title, location_path(booking.location)
		%small.help-block 
			Desde el 
			%b=booking.start_time.strftime("%d/%m/%Y")
			hasta el 
			%b=booking.end_time.strftime("%d/%m/%Y")
	/ Location Owner
	%td
		%b= number_to_currency(booking.price, :unit => "$", :precision => 0)
		%small.help-block
			= number_to_currency(booking.location.price, :unit => "$", :precision => 0)
			x 
			= booking.totaldays 
			día(s)
	%td
		%b= number_to_currency(booking.location.fee, :unit => "$", :precision => 0)
		%small.help-block
			-if booking.status=="waiting"
				En espera de deposito
			- elsif booking.status=="paid"
				Pagada
	%td
		- if booking.status=="accepted"
			%span{:class=>"label label-info"}
				= booking.statusname
		- elsif booking.status=="waiting"
			%span{:class=>"label label-default"}
				= booking.statusname
		- elsif booking.status=="paid"
			%span{:class=>"label label-success"}
				= booking.statusname
	%td
		= link_to booking.location.user.full_name, "/users/"+booking.location.user.id.to_s
	/ Actions
	%td.text-right{:style=>"width:15%"}
		- if booking.status=="paid" && current_user.status!="admin"
			= link_to "/bookings/"+(booking.code||=booking.generatecode), :class=> "btn btn-primary" do
				Ver Detalle
		- else
			.btn-group
				= link_to "/bookings/"+(booking.code||=booking.generatecode), :class=> "btn btn-primary" do
					Ver Detalle
				%button.btn.btn-primary.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
					%span.caret
					%span.sr-only Toggle Dropdown
				%ul.dropdown-menu
					
					- if current_user.status=="admin" && booking.status=="accepted"
						%li
							= link_to "/bookings/#{booking.code}/payment/confirm" do
								%i.mdi.mdi-lg.mdi-cash
								Confirmar Pago
					- if booking.status=="waiting" && (can? :accept, booking)
						%li
							= link_to "/bookings/#{booking.code}/accept" do
								%i.mdi.mdi-lg.mdi-calendar-check
								Aceptar Reserva
					%li
						= link_to "/bookings/#{booking.code}/cancel" do
							%i.mdi.mdi-lg.mdi-calendar-remove
							Cancelar Reserva
					- if can? :destroy, booking
						%li
							= link_to "/bookings/#{booking.code}/delete" do
								%i.mdi.mdi-lg.mdi-delete
								Eliminar Reserva
		



