%section.main-content
  .container.padding
    .row
      .col-md-8
        .panel.panel-default
          .panel-body
            .page-header
              %h3 Registrate en Atlocs
            = form_for :user, :method => :post, :url => {:controller => 'sessions', :action => 'create'} do |f|
              .form-group
                = f.label :email
                = f.email_field :email, autofocus: true, :class=>"form-control"
              .form-group
                = f.label :password
                = f.password_field :password, autocomplete: "off", :class=>"form-control"
              .form-group
                = f.label :telefono
                = f.text_field :phone, autocomplete: "off", :class=>"form-control"
              -# if devise_mapping.rememberable?
                .checkbox
                  %label{:for => "checkbox"}
                    = f.check_box :remember_me
                    Recordar en este equipo
              .form-group.actions
                = f.submit "Registrate", :class=>"btn btn-primary btn-lg"
              .form-group
                %p=link_to "¿Ya tienes una cuenta?", "/login"
                %p=link_to "Olvidaste tu password", "/help/lostpassword"
      .col-md-4
        .panel.panel-warning
          .panel-heading Publica tu locación en atlocs
          .panel-body
            %p Lorem ipsum dolor sit amet, consectetur adipisicing.
            %ul
              %li Lorem ipsum dolor sit.
              %li Lorem ipsum dolor sit.
              %li Architecto nesciunt reprehenderit iste.
              %li Odit error quae libero!
            %a.btn.btn-inverse{:href => "#"} más info
