= form_for(@location, :authenticity_token => true, :html => {:class => "form-location", :multipart => true}, :onsubmit => "return validateLocationForm();") do |f|
	.col-md-10.offset-md-1
		- if @location.errors.any?
			.alert.alert-warning
				%h2
					= pluralize(@location.errors.count, "error")
					prohibited this location from being saved:
				%ul
					- @location.errors.full_messages.each do |message|
						%li= message
			#location_alert

		.step#step1
			.tab-head
				%h2 Describe tu Locación
				%p Una buena descripción del lugar le permitirá a otros usuarios llegar con mayor facilidad a tu locación.
			.tab-body
				.form-group
					= f.label "Titulo de tu publicación *", :class=>""
					= f.text_field :title, :class=>"form-control", :placeholder=>"Agrega un nombre claro descriptivo"
				.form-group
					= f.label "Descripción *", :class=>""
					= f.text_area :description, :class=>"form-control", :placeholder=>"Describe lo mejor posible tu locación, este campo es clave en la visualización en nuestra plataforma"
		.step#step2
			.tab-head
				%h2 Características de tu Locación
				%p Sé lo más específico en nombrar las características que hacen único el lugar que estás ofreciendo. Estas descripciones también le permitirán a otros usuarios llegar con mayor facilidad a tu locación.
			.tab-body
				.row.form-group
					.col-md-4= f.label "Tipo de locación *", :class=>""
					.col-md-8= f.select(:type_id, ['Casa', 'Departamento', 'Fundos', 'Parcelas', 'Estadios', 'Centro de eventos', 'Oficinas', 'Edificios empresariales', 'Consultas medicas', 'Azoteas', 'Bares', 'Restaurantes', 'Bibliotecas', 'Bodegas', 'Galpones', 'Cabañas', 'Cines', 'Teatros', 'Clínicas', 'Club de golf', 'Supermercados', 'Cocinas', 'Viñas', 'Moteles', 'Hoteles', 'Plazas', 'Calles', 'Lagunas', 'Bosques', 'Miradores', 'Loft', 'Centro Deportivo', 'Otro'], {}, { :class => 'form-control' })
				.row.form-group
					.col-md-4= f.label "Caracteristicas", :class=>""
					.col-md-8
						= f.autocomplete_field :tag_names, autocomplete_tag_name_locations_path, 'data-delimiter' => ', ', :class=>"form-control", :placeholder=>"Agrega etiquetas referentes a detalles esteticos, barrios, etc"
						/ = f.text_field :tag_names, :class=>"form-control", :placeholder=>"Agrega etiquetas referentes a detalles esteticos, barrios, etc"
						%small Separa las caracteristicas con una coma (ej: adobe, casona, moderno, etc.)
				.row
					.col-md-6
						.form-group
							= f.label "Espacios Utilizables", :class=>""
							-["Fachada", "Interior", "Habitaciones", "Cocina", "Baño y Duchas", "Garage", "Logia", "Jardin", "Propiedad Completa", "Extras"].each do |service|
								.checkbox
									%label
										= f.check_box :services, { :multiple => true }, service, nil
										#{service}
					.col-md-6
						.form-group
							= f.label "Extras", :class=>""
							%p.small Selecciona que servicios y/o extras se encuentran disponibles al utilizar tu locación.
							-["Habitaciones", "Baños", "Cocina", "Estacionamientos", "Conexión a red eléctrica", "Instalaciones escenográficas", "Ajustes de ambientación"].each do |extra|
								.checkbox
									%label
										= f.check_box :extras, { :multiple => true }, extra, nil
										#{extra}


				.row.form-group
					.col-md-3= f.label "Dirección *", :class=>""
					.col-md-9= f.text_field :address, :class=>"form-control"
				.map_canvas
				%p.block-helper.font-italic.mt-3 * Esta información no aparece en el listado y solo se entrega a un usuario cuando se confirma su reserva.
				= f.hidden_field :lat, :class=>"form-control", "data-geo"=>"lat"
				= f.hidden_field :lng, :class=>"form-control", "data-geo"=>"lng"
				= f.hidden_field :city, :class=>"form-control", "data-geo"=>"administrative_area_level_2"
				= f.hidden_field :county, :class=>"form-control", "data-geo"=>"locality"

		.step#step3
			.tab-head
				%h2 Las Fotos son la mejor descripción de una Locación
				%p Sube las fotos de tu locación, evidenciando aspectos únicos del lugar que podrían ser atractivos para clientes y otros usuarios. Las fotos de detalles y de planos generales son siempre bienvenidas.
			.tab-body
				.form-group.upload-imgs.bg-faded
					%div#upload-form.row
						.col-md-8
							%h4 Adjuntar archivos
							%em Puedes seleccionar multiples archivos. JPG, GIF o PNG. 3mb max.
						.col-md-4
							%div.file-upload-btn.text-right
								%a.btn.btn-info{:href => "#"}
									%i.mdi.mdi-cloud-upload.mdi-lg
									Selecciona archivos
								%input#fileupload{:multiple => "multiple", :name => "file", :type => "file", :class => "transparent-input", :data=>{:url=>"/upload/"+@location.id.to_s}}
						.col-md-12.padding-top
							%table.table#file-list
								= render @location.attachments

					%div.progress#file-progress.invisible
						.progress-bar.progress-bar-info#progress-bar{:role=>"progressbar", "aria-valuenow"=>"20", "aria-valuemin"=>"0", "aria-valuemax"=>"100", "style"=>"width: 1%"}


		.step#step4
			.tab-head
				%h2 Precio y Disponibilidad
				%p Un precio equilibrado hará que un mayor números de interesados se acerque a tu locación y recuerda siempre mantener actualizada la disponibilidad de esta locación.
			.tab-body
				.row.form-group.price
					.col-md-6
						= f.label "Precio por día", :class=>""
						*
						.input-group
							.input-group-addon $
							= f.phone_field :price, :class=>"form-control", :placeholder=>"Monto"
							= f.hidden_field :fee, :class=>"form-control"
						%p.help-block Precio recomendado para tu locación: $150.000 (basado en precio de locaciones similares)
					.col-md-6
						.well
							%small Precio de Reserva
							.final-price
								%strong $
								%span#result
									0
								%span*
							%em
								* AtLocs, Sumara una Comisión del 15% por gestionar Tu Propiedad.
								%br
								%a{:href => "/faq#collapseEight"} Mas info
					.col-md-12
						%em (*) Un día de trabajo corresponde a 12 horas de utilización (en promedio), que es el tiempo suficiente para que un equipo trabaje una jornada completa en tu locación.



	.col-md-8.offset-md-2
		-# %ul.nav.nav-pills.nav-stacked{"data-spy" => "affix", "data-offset-top" => "70"}
		-# 	%li.small Locación
		-# 	%li.active
		-# 		%a{:href => "#step1"}
		-# 			%i.mdi.mdi-lg.mdi-checkbox-marked-circle-outline
		-# 			Información Básica
		-# 	%li
		-# 		%a{:href => "#step2"}
		-# 			%i.mdi.mdi-lg.mdi-plus-circle-outline
		-# 			Detalles y Características
		-# 	%li
		-# 		%a{:href => "#step3"}
		-# 			%i.mdi.mdi-lg.mdi-plus-circle-outline
		-# 			Fotos y/o Videos
		-# 	%li.small Reserva
		-# 	%li
		-# 		%a{:href => "#step4"}
		-# 			%i.mdi.mdi-lg.mdi-plus-circle-outline
		-# 			Precio y Disponibilidad
		-# 	%li.action
		%hr
		.px-5.py-3
			-if params[:newlocation]
				%button.btn.btn-info.btn-block.btn-lg#form-submit{ :type=>"submit", :disabled => "disabled"}
					%i.mdi.mdi-lg.mdi-cloud-upload
					Publicar Locación
				.terms-and-conditions.mt-3.text-sm-center
					.form-group
						.checkbox
							%label
								%input#legal-checkbox{:type => "checkbox"}
								Estoy de acuerdo con los <a href="/terminos-y-condiciones" target="_blank">Términos y Condiciones y política de privacidad</a> de Atlocs.
			-else
				%button.btn.btn-info.btn-block.btn-lg#form-submit{ :type=>"submit" }
					%i.mdi.mdi-lg.mdi-content-save
					Guardar Locación


:css
	.ui-autocomplete {
		max-width: 200px;
		background: #CCC;
		padding: 5px;
		list-style-type: none;
	}

=javascript_include_tag "newlocation"
=javascript_tag "var AUTH_TOKEN = '#{form_authenticity_token}';" if protect_against_forgery?
